---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Anmeldelse from "../components/Anmeldelse.astro";
---

<MainLayout title="höjskolendk">
  <article class="relative h-screen">
    <div class="absolute inset-0 flex justify-center items-center z-50">
      <h1 class="">HÖJSKOLENDK</h1>
    </div>
    <div class="flex flex-row justify-center items-center h-full z-0">
      <video src="public/hojskolendk_hero.mp4" class="rounded-lg shadow-lg w-full max-w-lg" autoplay muted loop></video>
      <video src="public/hojskolendk_hero.mp4" class="rounded-lg shadow-lg w-full max-w-lg" autoplay muted loop></video>
      <video src="public/hojskolendk_hero.mp4" class="rounded-lg shadow-lg w-full max-w-lg" autoplay muted loop></video>
    </div>
  </article>
  <section>
    <Anmeldelse />
  </section>
</MainLayout>
