---
import H3 from "../components/H3.astro";
import Brodtekst from "./Brodtekst.astro";
import { Image } from "astro:assets";
import samarbejdspartnere from "../assets/images/samarbejdspartnere.svg";
import Button from "../components/Button.astro";
import betalingsmetoder from "../assets/images/betalingsmetoder.svg";
---

<footer class="bg-colors-blue-500">
  <section class="flex flex-wrap place-content-between px-[107px] py-[98px]">
    <article class="">
      <div>
        <H3 tekst="ANDET" />
        <div>
          <!-- SKAL HAVE HREF FORAN -->
          <Brodtekst tekst="Om Höjskolendk" />
          <Brodtekst tekst="Handelsbetingelser" />
          <Brodtekst tekst="Cookiepolitik" />
          <Brodtekst tekst="Data- & privatlivspolitik" />
          <Brodtekst tekst="Ofte stillet spørgsmål" />
        </div>
      </div>
    </article>
    <article class="">
      <div>
        <H3 tekst="ADRESSE" />
        <Brodtekst tekst="Rosenørns Allé 29" />
        <Brodtekst tekst="1970 Frederiksberg" />
        <Brodtekst tekst="Danmark" />
      </div>
    </article>
    <article class="">
      <div>
        <H3 tekst="KONTAKT" />
        <Brodtekst tekst="Telefon: 7027 9007" />
        <Brodtekst tekst="Mandag til Fredag // Kl. 10.00-16.00" />
        <Brodtekst tekst="Mail: info@hojskolendk.dk" />
        <div class="flex mt-xs">
          <!-- insta -->
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="36" viewBox="0 0 35 36" fill="none">
            <path
              d="M19.4578 3.83691C21.1453 3.84141 22.0017 3.85041 22.7412 3.87141L23.0322 3.88191C23.3682 3.89391 23.6996 3.90891 24.1001 3.92691C25.696 4.00191 26.785 4.2539 27.7404 4.6244C28.7304 5.00539 29.5643 5.52137 30.3983 6.35385C31.1613 7.10343 31.7515 8.01052 32.1277 9.01179C32.4982 9.96727 32.7502 11.0562 32.8252 12.6537C32.8432 13.0527 32.8582 13.3842 32.8702 13.7217L32.8792 14.0127C32.9017 14.7507 32.9107 15.6071 32.9137 17.2946L32.9152 18.4136V20.3785C32.9188 21.4726 32.9073 22.5667 32.8807 23.6604L32.8717 23.9514C32.8597 24.2889 32.8447 24.6204 32.8267 25.0194C32.7517 26.6169 32.4967 27.7043 32.1277 28.6613C31.7515 29.6626 31.1613 30.5697 30.3983 31.3192C29.6487 32.0823 28.7417 32.6725 27.7404 33.0487C26.785 33.4192 25.696 33.6712 24.1001 33.7462L23.0322 33.7912L22.7412 33.8002C22.0017 33.8212 21.1453 33.8317 19.4578 33.8347L18.3389 33.8362H16.3755C15.281 33.84 14.1864 33.8285 13.0922 33.8017L12.8012 33.7927C12.4451 33.7792 12.0891 33.7637 11.7332 33.7462C10.1373 33.6712 9.04838 33.4192 8.09142 33.0487C7.09072 32.6723 6.18418 32.0821 5.43506 31.3192C4.67151 30.5698 4.08079 29.6627 3.70415 28.6613C3.33366 27.7058 3.08168 26.6169 3.00668 25.0194L2.96168 23.9514L2.95418 23.6604C2.92653 22.5667 2.91403 21.4726 2.91669 20.3785V17.2946C2.91253 16.2005 2.92353 15.1064 2.94968 14.0127L2.96018 13.7217C2.97218 13.3842 2.98718 13.0527 3.00518 12.6537C3.08018 11.0562 3.33216 9.96877 3.70265 9.01179C4.08017 8.01011 4.67193 7.10299 5.43656 6.35385C6.18525 5.59119 7.09126 5.001 8.09142 4.6244C9.04838 4.2539 10.1358 4.00191 11.7332 3.92691C12.1322 3.90891 12.4652 3.89391 12.8012 3.88191L13.0922 3.87291C14.1859 3.84626 15.28 3.83476 16.374 3.83841L19.4578 3.83691ZM17.9159 11.3367C15.9269 11.3367 14.0193 12.1269 12.6129 13.5334C11.2064 14.9399 10.4163 16.8475 10.4163 18.8366C10.4163 20.8256 11.2064 22.7332 12.6129 24.1397C14.0193 25.5462 15.9269 26.3364 17.9159 26.3364C19.905 26.3364 21.8125 25.5462 23.219 24.1397C24.6254 22.7332 25.4156 20.8256 25.4156 18.8366C25.4156 16.8475 24.6254 14.9399 23.219 13.5334C21.8125 12.1269 19.905 11.3367 17.9159 11.3367ZM17.9159 14.3367C18.5068 14.3366 19.092 14.4529 19.638 14.6789C20.1839 14.905 20.6801 15.2363 21.098 15.6541C21.5159 16.0719 21.8474 16.5679 22.0736 17.1138C22.2999 17.6597 22.4164 18.2449 22.4165 18.8358C22.4165 19.4267 22.3003 20.0119 22.0742 20.5579C21.8482 21.1039 21.5168 21.6 21.099 22.0179C20.6813 22.4358 20.1853 22.7674 19.6394 22.9936C19.0935 23.2199 18.5083 23.3363 17.9174 23.3364C16.724 23.3364 15.5795 22.8623 14.7356 22.0185C13.8917 21.1746 13.4177 20.03 13.4177 18.8366C13.4177 17.6431 13.8917 16.4985 14.7356 15.6546C15.5795 14.8108 16.724 14.3367 17.9174 14.3367M25.792 9.08679C25.2948 9.08679 24.8179 9.28433 24.4663 9.63595C24.1147 9.98757 23.9171 10.4645 23.9171 10.9617C23.9171 11.459 24.1147 11.9359 24.4663 12.2875C24.8179 12.6392 25.2948 12.8367 25.792 12.8367C26.2893 12.8367 26.7662 12.6392 27.1178 12.2875C27.4694 11.9359 27.6669 11.459 27.6669 10.9617C27.6669 10.4645 27.4694 9.98757 27.1178 9.63595C26.7662 9.28433 26.2893 9.08679 25.792 9.08679Z"
              fill="#FFFDF7"></path>
          </svg>
          <!-- facebook -->
          <svg xmlns="http://www.w3.org/2000/svg" width="33" height="34" viewBox="0 0 33 34" fill="none">
            <path d="M27.5755 1.91992H6.42233C3.99005 1.91992 2 3.90997 2 6.34225V27.4976C2 29.9299 3.99005 31.9199 6.42233 31.9199H27.5777C30.01 31.9199 32 29.9299 32 27.4976V6.34225C31.9978 3.90997 30.0099 1.91992 27.5755 1.91992ZM27.2913 17.9321H23.7313V30.8121H18.4046V17.9321H15.7402V13.4921H18.4046V10.8276C18.4046 7.20571 19.9082 5.05093 24.1868 5.05093H27.7435V9.48985H25.5191C23.8563 9.48985 23.7457 10.1123 23.7457 11.2698L23.7313 13.4921H27.7612L27.2913 17.9321Z" fill="#FFFDF7"></path>
          </svg>
          <!-- tiktok -->
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35" fill="none">
            <path
              d="M28.4283 2.91992H5.57167C4.62467 2.9208 3.71672 3.29739 3.04709 3.96701C2.37747 4.63664 2.00088 5.54459 2 6.49159V29.3483C2 31.3199 3.60167 32.9199 5.57167 32.9199H28.4283C29.3753 32.919 30.2833 32.5425 30.9529 31.8728C31.6225 31.2032 31.9991 30.2952 32 29.3483V6.49159C31.9991 5.54459 31.6225 4.63664 30.9529 3.96701C30.2833 3.29739 29.3753 2.9208 28.4283 2.91992ZM25.575 16.0083C24.5237 16.1103 23.466 15.8949 22.5383 15.3899C21.7559 14.9681 21.0913 14.3573 20.605 13.6133V21.8533C20.605 23.0577 20.2478 24.2352 19.5786 25.2367C18.9095 26.2382 17.9583 27.0187 16.8455 27.4797C15.7327 27.9406 14.5082 28.0612 13.3269 27.8262C12.1456 27.5913 11.0604 27.0112 10.2087 26.1595C9.35702 25.3078 8.777 24.2227 8.54202 23.0414C8.30703 21.86 8.42764 20.6355 8.88857 19.5227C9.34951 18.4099 10.1301 17.4588 11.1316 16.7896C12.1331 16.1204 13.3105 15.7633 14.515 15.7633C14.6417 15.7633 14.765 15.7749 14.89 15.7816V18.7833C14.765 18.7683 14.6433 18.7449 14.515 18.7449C13.6906 18.7449 12.9 19.0724 12.3171 19.6553C11.7341 20.2383 11.4067 21.0289 11.4067 21.8533C11.4067 22.6776 11.7341 23.4683 12.3171 24.0512C12.9 24.6341 13.6906 24.9616 14.515 24.9616C16.2317 24.9616 17.7483 23.6099 17.7483 21.8933L17.7783 7.89659H20.65C20.7814 9.14397 21.347 10.3055 22.2478 11.1783C23.1486 12.0511 24.3274 12.5796 25.5783 12.6716V16.0083"
              fill="#FFFDF7"></path>
          </svg>
          <!-- Youtube -->
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="37" viewBox="0 0 36 37" fill="none">
            <path
              d="M15 23.4199L22.785 18.9199L15 14.4199V23.4199ZM32.34 11.6749C32.535 12.3799 32.67 13.3249 32.76 14.5249C32.865 15.7249 32.91 16.7599 32.91 17.6599L33 18.9199C33 22.2049 32.76 24.6199 32.34 26.1649C31.965 27.5149 31.095 28.3849 29.745 28.7599C29.04 28.9549 27.75 29.0899 25.77 29.1799C23.82 29.2849 22.035 29.3299 20.385 29.3299L18 29.4199C11.715 29.4199 7.8 29.1799 6.255 28.7599C4.905 28.3849 4.035 27.5149 3.66 26.1649C3.465 25.4599 3.33 24.5149 3.24 23.3149C3.135 22.1149 3.09 21.0799 3.09 20.1799L3 18.9199C3 15.6349 3.24 13.2199 3.66 11.6749C4.035 10.3249 4.905 9.45492 6.255 9.07992C6.96 8.88492 8.25 8.74992 10.23 8.65992C12.18 8.55492 13.965 8.50992 15.615 8.50992L18 8.41992C24.285 8.41992 28.2 8.65992 29.745 9.07992C31.095 9.45492 31.965 10.3249 32.34 11.6749Z"
              fill="#FFFDF7"></path>
          </svg>
        </div>
      </div>
    </article>
  </section>

  <!-- sponsorer -->
  <section class="flex flex-col justify-center items-center">
    <H3 tekst="SAMARBEJDSPARTNERE" />
    <Image src={samarbejdspartnere} alt="logo" class="w-25" />
  </section>
  <!-- streg -->
  <hr class="border-0 border-t border-colors-beige-500 mt-xs mx-lg" />

  <!-- Nederste sektion -->
  <section class="flex place-content-between mx-lg">
    <ul class="flex gap-6xl py-sm">
      <li>Copyright © HÖJSKOLENDK 2022 • CVR 32491162</li>
      <li>HÖJSKOLENDK er medlem af Rejsegarantifonden.</li>
      <li class="">
        <Image src={betalingsmetoder} alt="logo" class="w-25" />
      </li>
    </ul>
  </section>
</footer>
