---
import H3 from "../components/H3.astro";
import Brodtekst from "./Brodtekst.astro";
import { Image } from "astro:assets";
import samarbejdspartnere from "../assets/images/samarbejdspartnere.svg";
import Button from "../components/Button.astro";
---
<footer class="bg-[#3E3A4B]">
<section class="flex flex-wrap place-content-between px-[107px] py-[98px]">
  <article class="">
    <div>
      <H3 tekst="ANDET" />
      <div>
        <!-- SKAL HAVE HREF FORAN -->
        <Brodtekst tekst="Om Höjskolendk" />
        <Brodtekst tekst="Handelsbetingelser" />
        <Brodtekst tekst="Cookiepolitik" />
        <Brodtekst tekst="Data- & privatlivspolitik" />
        <Brodtekst tekst="Ofte stillet spørgsmål" />
      </div>
    </div>
  </article>
  <article class="">
    <div>
      <H3 tekst="ADRESSE" />
     <Brodtekst tekst="Rosenørns Allé 29" />
     <Brodtekst tekst="1970 Frederiksberg" />
     <Brodtekst tekst="Danmark" />
    </div>
  </article>
  <article class="">
    <div>
      <H3 tekst="KONTAKT" />
     <Brodtekst tekst="Telefon: 7027 9007" />
     <Brodtekst tekst="Mandag til Fredag // Kl. 10.00-16.00" />
     <Brodtekst tekst="Mail: info@hojskolendk.dk" />
     <div class="flex ">
        <!-- insta -->
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="36" viewBox="0 0 35 36" fill="none">
<path d="M19.4578 3.83691C21.1453 3.84141 22.0017 3.85041 22.7412 3.87141L23.0322 3.88191C23.3682 3.89391 23.6996 3.90891 24.1001 3.92691C25.696 4.00191 26.785 4.2539 27.7404 4.6244C28.7304 5.00539 29.5643 5.52137 30.3983 6.35385C31.1613 7.10343 31.7515 8.01052 32.1277 9.01179C32.4982 9.96727 32.7502 11.0562 32.8252 12.6537C32.8432 13.0527 32.8582 13.3842 32.8702 13.7217L32.8792 14.0127C32.9017 14.7507 32.9107 15.6071 32.9137 17.2946L32.9152 18.4136V20.3785C32.9188 21.4726 32.9073 22.5667 32.8807 23.6604L32.8717 23.9514C32.8597 24.2889 32.8447 24.6204 32.8267 25.0194C32.7517 26.6169 32.4967 27.7043 32.1277 28.6613C31.7515 29.6626 31.1613 30.5697 30.3983 31.3192C29.6487 32.0823 28.7417 32.6725 27.7404 33.0487C26.785 33.4192 25.696 33.6712 24.1001 33.7462L23.0322 33.7912L22.7412 33.8002C22.0017 33.8212 21.1453 33.8317 19.4578 33.8347L18.3389 33.8362H16.3755C15.281 33.84 14.1864 33.8285 13.0922 33.8017L12.8012 33.7927C12.4451 33.7792 12.0891 33.7637 11.7332 33.7462C10.1373 33.6712 9.04838 33.4192 8.09142 33.0487C7.09072 32.6723 6.18418 32.0821 5.43506 31.3192C4.67151 30.5698 4.08079 29.6627 3.70415 28.6613C3.33366 27.7058 3.08168 26.6169 3.00668 25.0194L2.96168 23.9514L2.95418 23.6604C2.92653 22.5667 2.91403 21.4726 2.91669 20.3785V17.2946C2.91253 16.2005 2.92353 15.1064 2.94968 14.0127L2.96018 13.7217C2.97218 13.3842 2.98718 13.0527 3.00518 12.6537C3.08018 11.0562 3.33216 9.96877 3.70265 9.01179C4.08017 8.01011 4.67193 7.10299 5.43656 6.35385C6.18525 5.59119 7.09126 5.001 8.09142 4.6244C9.04838 4.2539 10.1358 4.00191 11.7332 3.92691C12.1322 3.90891 12.4652 3.89391 12.8012 3.88191L13.0922 3.87291C14.1859 3.84626 15.28 3.83476 16.374 3.83841L19.4578 3.83691ZM17.9159 11.3367C15.9269 11.3367 14.0193 12.1269 12.6129 13.5334C11.2064 14.9399 10.4163 16.8475 10.4163 18.8366C10.4163 20.8256 11.2064 22.7332 12.6129 24.1397C14.0193 25.5462 15.9269 26.3364 17.9159 26.3364C19.905 26.3364 21.8125 25.5462 23.219 24.1397C24.6254 22.7332 25.4156 20.8256 25.4156 18.8366C25.4156 16.8475 24.6254 14.9399 23.219 13.5334C21.8125 12.1269 19.905 11.3367 17.9159 11.3367ZM17.9159 14.3367C18.5068 14.3366 19.092 14.4529 19.638 14.6789C20.1839 14.905 20.6801 15.2363 21.098 15.6541C21.5159 16.0719 21.8474 16.5679 22.0736 17.1138C22.2999 17.6597 22.4164 18.2449 22.4165 18.8358C22.4165 19.4267 22.3003 20.0119 22.0742 20.5579C21.8482 21.1039 21.5168 21.6 21.099 22.0179C20.6813 22.4358 20.1853 22.7674 19.6394 22.9936C19.0935 23.2199 18.5083 23.3363 17.9174 23.3364C16.724 23.3364 15.5795 22.8623 14.7356 22.0185C13.8917 21.1746 13.4177 20.03 13.4177 18.8366C13.4177 17.6431 13.8917 16.4985 14.7356 15.6546C15.5795 14.8108 16.724 14.3367 17.9174 14.3367M25.792 9.08679C25.2948 9.08679 24.8179 9.28433 24.4663 9.63595C24.1147 9.98757 23.9171 10.4645 23.9171 10.9617C23.9171 11.459 24.1147 11.9359 24.4663 12.2875C24.8179 12.6392 25.2948 12.8367 25.792 12.8367C26.2893 12.8367 26.7662 12.6392 27.1178 12.2875C27.4694 11.9359 27.6669 11.459 27.6669 10.9617C27.6669 10.4645 27.4694 9.98757 27.1178 9.63595C26.7662 9.28433 26.2893 9.08679 25.792 9.08679Z" fill="#FFFDF7"/>
</svg>
<!-- facebook -->
<svg xmlns="http://www.w3.org/2000/svg" width="33" height="34" viewBox="0 0 33 34" fill="none">
<path d="M27.5755 1.91992H6.42233C3.99005 1.91992 2 3.90997 2 6.34225V27.4976C2 29.9299 3.99005 31.9199 6.42233 31.9199H27.5777C30.01 31.9199 32 29.9299 32 27.4976V6.34225C31.9978 3.90997 30.0099 1.91992 27.5755 1.91992ZM27.2913 17.9321H23.7313V30.8121H18.4046V17.9321H15.7402V13.4921H18.4046V10.8276C18.4046 7.20571 19.9082 5.05093 24.1868 5.05093H27.7435V9.48985H25.5191C23.8563 9.48985 23.7457 10.1123 23.7457 11.2698L23.7313 13.4921H27.7612L27.2913 17.9321Z" fill="#FFFDF7"/>
</svg>
<!-- tiktok -->
<svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35" fill="none">
<path d="M28.4283 2.91992H5.57167C4.62467 2.9208 3.71672 3.29739 3.04709 3.96701C2.37747 4.63664 2.00088 5.54459 2 6.49159V29.3483C2 31.3199 3.60167 32.9199 5.57167 32.9199H28.4283C29.3753 32.919 30.2833 32.5425 30.9529 31.8728C31.6225 31.2032 31.9991 30.2952 32 29.3483V6.49159C31.9991 5.54459 31.6225 4.63664 30.9529 3.96701C30.2833 3.29739 29.3753 2.9208 28.4283 2.91992ZM25.575 16.0083C24.5237 16.1103 23.466 15.8949 22.5383 15.3899C21.7559 14.9681 21.0913 14.3573 20.605 13.6133V21.8533C20.605 23.0577 20.2478 24.2352 19.5786 25.2367C18.9095 26.2382 17.9583 27.0187 16.8455 27.4797C15.7327 27.9406 14.5082 28.0612 13.3269 27.8262C12.1456 27.5913 11.0604 27.0112 10.2087 26.1595C9.35702 25.3078 8.777 24.2227 8.54202 23.0414C8.30703 21.86 8.42764 20.6355 8.88857 19.5227C9.34951 18.4099 10.1301 17.4588 11.1316 16.7896C12.1331 16.1204 13.3105 15.7633 14.515 15.7633C14.6417 15.7633 14.765 15.7749 14.89 15.7816V18.7833C14.765 18.7683 14.6433 18.7449 14.515 18.7449C13.6906 18.7449 12.9 19.0724 12.3171 19.6553C11.7341 20.2383 11.4067 21.0289 11.4067 21.8533C11.4067 22.6776 11.7341 23.4683 12.3171 24.0512C12.9 24.6341 13.6906 24.9616 14.515 24.9616C16.2317 24.9616 17.7483 23.6099 17.7483 21.8933L17.7783 7.89659H20.65C20.7814 9.14397 21.347 10.3055 22.2478 11.1783C23.1486 12.0511 24.3274 12.5796 25.5783 12.6716V16.0083" fill="#FFFDF7"/>
</svg>
<!-- Youtube -->
<svg xmlns="http://www.w3.org/2000/svg" width="36" height="37" viewBox="0 0 36 37" fill="none">
<path d="M15 23.4199L22.785 18.9199L15 14.4199V23.4199ZM32.34 11.6749C32.535 12.3799 32.67 13.3249 32.76 14.5249C32.865 15.7249 32.91 16.7599 32.91 17.6599L33 18.9199C33 22.2049 32.76 24.6199 32.34 26.1649C31.965 27.5149 31.095 28.3849 29.745 28.7599C29.04 28.9549 27.75 29.0899 25.77 29.1799C23.82 29.2849 22.035 29.3299 20.385 29.3299L18 29.4199C11.715 29.4199 7.8 29.1799 6.255 28.7599C4.905 28.3849 4.035 27.5149 3.66 26.1649C3.465 25.4599 3.33 24.5149 3.24 23.3149C3.135 22.1149 3.09 21.0799 3.09 20.1799L3 18.9199C3 15.6349 3.24 13.2199 3.66 11.6749C4.035 10.3249 4.905 9.45492 6.255 9.07992C6.96 8.88492 8.25 8.74992 10.23 8.65992C12.18 8.55492 13.965 8.50992 15.615 8.50992L18 8.41992C24.285 8.41992 28.2 8.65992 29.745 9.07992C31.095 9.45492 31.965 10.3249 32.34 11.6749Z" fill="#FFFDF7"/>
</svg>
     </div>
    </div>
  </article>
</section>
<!-- sponsorer -->
<section class="flex flex-col justify-center items-center">
<H3 tekst="SAMARBEJDSPARTNERE" />
<Image src={samarbejdspartnere} alt="logo" class="w-25" />
</section>
<hr class="border-0 border-t border-gray-300 w-full mt-8">
<section class="flex flex-row items-center justify-between md:px-4 md:py-2 ">
    <ul class="flex gap-14">
        <li>Copyright © HÖJSKOLENDK 2022 • CVR 32491162</li>
        <li>HÖJSKOLENDK er medlem af Rejsegarantifonden.</li>
        <li class="flex gap-4">
            <!-- Visa -->
        
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" viewBox="0 0 28 26" fill="none">
<path d="M22.8521 11.8663C22.8521 11.8663 23.2215 13.6179 23.3042 13.9851H21.6806C21.841 13.5661 22.4583 11.9369 22.4583 11.9369C22.4486 11.9511 22.6187 11.5085 22.716 11.2354L22.8521 11.8663ZM28 4.74247V21.3161C28 22.5639 26.9549 23.5762 25.6667 23.5762H2.33333C1.04514 23.5762 0 22.5639 0 21.3161V4.74247C0 3.49473 1.04514 2.48242 2.33333 2.48242H25.6667C26.9549 2.48242 28 3.49473 28 4.74247ZM7.41319 16.57L10.4854 9.26256H8.41944L6.50903 14.2535L6.3 13.2412L5.61944 9.87936C5.50764 9.41323 5.1625 9.28139 4.73472 9.26256H1.58958L1.55556 9.40852C2.32361 9.59685 3.00903 9.86994 3.60694 10.2137L5.34722 16.57H7.41319ZM12.0021 16.5795L13.2271 9.26256H11.2729L10.0528 16.5795H12.0021ZM18.8028 14.1876C18.8125 13.3542 18.2875 12.7185 17.1646 12.1959C16.4792 11.8616 16.0611 11.6356 16.0611 11.2919C16.0708 10.9811 16.416 10.661 17.184 10.661C17.8208 10.6468 18.2875 10.7928 18.6375 10.9388L18.8125 11.0188L19.0799 9.43677C18.6958 9.29081 18.0833 9.12601 17.3299 9.12601C15.4 9.12601 14.0438 10.1242 14.034 11.5461C14.0194 12.5961 15.0063 13.18 15.7451 13.5331C16.4986 13.8909 16.7563 14.1264 16.7563 14.4418C16.7465 14.9315 16.1438 15.1575 15.5847 15.1575C14.8069 15.1575 14.3889 15.0398 13.7521 14.7667L13.4944 14.649L13.2222 16.2922C13.6792 16.4947 14.525 16.6736 15.4 16.683C17.4514 16.6877 18.7882 15.7037 18.8028 14.1876ZM25.6667 16.5795L24.0917 9.26256H22.5799C22.1132 9.26256 21.7583 9.39439 21.559 9.86994L18.6569 16.5795H20.7083C20.7083 16.5795 21.0438 15.6754 21.1167 15.4824H23.625C23.6833 15.7414 23.8583 16.5795 23.8583 16.5795H25.6667Z" fill="#FFFDF7"/>
</svg>


<!-- Mastercard -->
<svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
<g clip-path="url(#clip0_263_162)">
<path d="M23.4745 22.105C23.4745 22.4239 23.2514 22.6534 22.9303 22.6534C22.5995 22.6534 22.386 22.4096 22.386 22.105C22.386 21.8004 22.5995 21.5566 22.9303 21.5566C23.2514 21.5566 23.4745 21.8004 23.4745 22.105ZM8.3659 21.5566C8.02027 21.5566 7.82165 21.8004 7.82165 22.105C7.82165 22.4096 8.02115 22.6534 8.3659 22.6534C8.68177 22.6534 8.89527 22.4239 8.89527 22.105C8.89002 21.8004 8.68177 21.5566 8.3659 21.5566ZM14.0779 21.5431C13.8154 21.5431 13.6544 21.7067 13.6159 21.9506H14.5443C14.5005 21.6831 14.3308 21.5431 14.0779 21.5431ZM19.3183 21.5566C18.9875 21.5566 18.7889 21.8004 18.7889 22.105C18.7889 22.4096 18.9884 22.6534 19.3183 22.6534C19.649 22.6534 19.8625 22.4239 19.8625 22.105C19.8625 21.8004 19.6481 21.5566 19.3183 21.5566ZM24.4659 22.7799C24.4659 22.7943 24.4808 22.8036 24.4808 22.8314C24.4808 22.8458 24.4659 22.855 24.4659 22.8829C24.451 22.8972 24.451 22.9065 24.4414 22.92C24.4265 22.9343 24.4169 22.9436 24.388 22.9436C24.3731 22.958 24.3635 22.958 24.3346 22.958C24.3198 22.958 24.3101 22.958 24.2813 22.9436C24.2664 22.9436 24.2568 22.9293 24.2428 22.92C24.2279 22.9057 24.2183 22.8964 24.2183 22.8829C24.2034 22.8593 24.2034 22.8458 24.2034 22.8314C24.2034 22.8078 24.2034 22.7943 24.2183 22.7799C24.2183 22.7563 24.2331 22.7428 24.2428 22.7285C24.2576 22.7141 24.2673 22.7141 24.2813 22.7049C24.3058 22.6905 24.3198 22.6905 24.3346 22.6905C24.3591 22.6905 24.3731 22.6905 24.388 22.7049C24.4125 22.7184 24.4265 22.7184 24.4414 22.7285C24.4563 22.7386 24.451 22.7563 24.4659 22.7799ZM24.3591 22.8458C24.3836 22.8458 24.3836 22.8314 24.3976 22.8314C24.4125 22.8171 24.4125 22.8078 24.4125 22.7943C24.4125 22.7808 24.4125 22.7707 24.3976 22.7572C24.3836 22.7572 24.3731 22.7428 24.3443 22.7428H24.2664V22.9065H24.3049V22.8407H24.3198L24.3731 22.9065H24.4116L24.3591 22.8458ZM28 6.6701V23.1697C27.9993 23.7663 27.7532 24.3383 27.3158 24.7601C26.8783 25.182 26.2851 25.4193 25.6664 25.4199H2.33277C1.71407 25.4193 1.1209 25.182 0.683416 24.7601C0.245927 24.3383 -0.00015971 23.7663 -0.000854492 23.1697V6.6701C-0.00015971 6.07352 0.245927 5.50157 0.683416 5.07972C1.1209 4.65788 1.71407 4.42059 2.33277 4.41992H25.6664C26.2851 4.42059 26.8783 4.65788 27.3158 5.07972C27.7532 5.50157 27.9993 6.07352 28 6.6701ZM3.11152 13.2131C3.11152 16.7989 6.13027 19.7046 9.84377 19.7046C11.1663 19.7012 12.4589 19.3249 13.5625 18.6221C10.0188 15.8429 10.0433 10.5976 13.5625 7.81755C12.46 7.11251 11.1667 6.73604 9.84377 6.73507C6.13027 6.73085 3.11152 9.64081 3.11152 13.2131ZM14 18.3133C17.4274 15.7349 17.4125 10.7106 14 8.11876C10.5875 10.7106 10.5726 15.74 14 18.3133ZM7.08227 21.8898C7.08227 21.4823 6.8049 21.2149 6.3674 21.2005C6.1434 21.2005 5.9054 21.2663 5.74527 21.5051C5.6289 21.3127 5.4294 21.2005 5.15202 21.2005C5.05114 21.1985 4.95131 21.2206 4.8614 21.2647C4.77149 21.3089 4.69428 21.3738 4.63665 21.4536V21.2478H4.23852V22.9681H4.63665C4.63665 22.0822 4.51502 21.5523 5.07415 21.5523C5.57027 21.5523 5.47315 22.0307 5.47315 22.9681H5.85727C5.85727 22.11 5.73565 21.5523 6.29477 21.5523C6.79089 21.5523 6.6929 22.0214 6.6929 22.9681H7.0919V21.8898H7.08227ZM9.2654 21.2478H8.88127V21.4536C8.81337 21.3717 8.72662 21.3062 8.6279 21.2623C8.52917 21.2184 8.4212 21.1972 8.31252 21.2005C7.81202 21.2005 7.4279 21.5852 7.4279 22.105C7.4279 22.6298 7.81202 23.0094 8.31252 23.0094C8.5654 23.0094 8.75002 22.92 8.88127 22.7563V22.9723H9.2654V21.2478ZM11.2341 22.4475C11.2341 21.7447 10.1211 22.0628 10.1211 21.7346C10.1211 21.4671 10.6995 21.5102 11.0206 21.6831L11.1808 21.3785C10.724 21.0925 9.71252 21.0976 9.71252 21.7633C9.71252 22.4332 10.8255 22.1522 10.8255 22.4661C10.8255 22.7614 10.1693 22.7378 9.81927 22.5032L9.64952 22.7985C10.1938 23.1546 11.2341 23.0803 11.2341 22.4475ZM12.9553 22.8829L12.8485 22.564C12.6639 22.6618 12.2553 22.7698 12.2553 22.3716V21.5937H12.8923V21.2469H12.2553V20.7221H11.8563V21.2469H11.487V21.5895H11.8563V22.3724C11.8563 23.1976 12.6971 23.0474 12.9553 22.8829ZM13.601 22.2552H14.938C14.938 21.4958 14.5784 21.1955 14.0919 21.1955C13.5765 21.1955 13.2073 21.5658 13.2073 22.0999C13.2073 23.0609 14.3063 23.2204 14.8505 22.7656L14.6659 22.4846C14.287 22.785 13.713 22.7563 13.601 22.2552ZM16.4745 21.2478C16.2514 21.1541 15.911 21.1634 15.736 21.4536V21.2478H15.337V22.9681H15.736V21.9978C15.736 21.4536 16.198 21.5245 16.3581 21.6038L16.4745 21.2478ZM16.9899 22.105C16.9899 21.5701 17.5543 21.3971 17.9961 21.711L18.1808 21.4064C17.6164 20.9803 16.5909 21.214 16.5909 22.1092C16.5909 23.0373 17.6794 23.2246 18.1808 22.812L17.9961 22.5074C17.549 22.812 16.9899 22.6306 16.9899 22.105ZM20.2318 21.2478H19.8328V21.4536C19.4294 20.9381 18.3794 21.2292 18.3794 22.105C18.3794 23.0052 19.4679 23.2625 19.8328 22.7563V22.9723H20.2318V21.2478ZM21.8698 21.2478C21.7534 21.1912 21.3351 21.1119 21.1313 21.4536V21.2478H20.7471V22.9681H21.1313V21.9978C21.1313 21.4823 21.5688 21.5152 21.7534 21.6038L21.8698 21.2478ZM23.8289 20.5492H23.4448V21.4536C23.0458 20.9432 21.9914 21.2149 21.9914 22.105C21.9914 23.0145 23.0851 23.2575 23.4448 22.7563V22.9723H23.8289V20.5492ZM24.199 17.0292V17.2452H24.2375V17.0292H24.3294V16.9921H24.1054V17.0292H24.199ZM24.5193 22.8314C24.5193 22.8078 24.5193 22.7799 24.5053 22.7563C24.4904 22.742 24.4808 22.7192 24.4668 22.7049C24.4528 22.6905 24.4283 22.6812 24.4134 22.6677C24.3889 22.6677 24.36 22.6534 24.3355 22.6534C24.3206 22.6534 24.297 22.6677 24.2673 22.6677C24.2479 22.6779 24.23 22.6904 24.2139 22.7049C24.1894 22.7184 24.1754 22.742 24.1754 22.7563C24.1605 22.7799 24.1605 22.8078 24.1605 22.8314C24.1605 22.8458 24.1605 22.8685 24.1754 22.8972C24.1754 22.9116 24.1903 22.9343 24.2139 22.9487C24.2291 22.9642 24.2472 22.9768 24.2673 22.9858C24.2918 22.9993 24.3206 22.9993 24.3355 22.9993C24.36 22.9993 24.3889 22.9993 24.4134 22.9858C24.4283 22.9715 24.4519 22.9622 24.4668 22.9487C24.4816 22.9352 24.4913 22.9116 24.5053 22.8972C24.5193 22.8694 24.5193 22.8458 24.5193 22.8314ZM24.675 16.987H24.6068L24.5289 17.1507L24.451 16.987H24.3828V17.2401H24.4213V17.0478L24.4991 17.2114H24.5525L24.6208 17.0478V17.2401H24.6741L24.675 16.987ZM24.8885 13.2131C24.8885 9.64081 21.8698 6.73085 18.1563 6.73085C16.8337 6.73429 15.5411 7.11056 14.4375 7.81333C17.9428 10.5934 17.9961 15.8522 14.4375 18.6179C15.5407 19.3216 16.8336 19.6979 18.1563 19.7004C21.8698 19.7055 24.8885 16.7989 24.8885 13.2131Z" fill="#FFFDF7"/>
</g>
<defs>
<clipPath id="clip0_263_162">
<rect width="28" height="28" fill="white" transform="translate(0 0.919922)"/>
</clipPath>
</defs>
</svg>


<!-- DK -->
<svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<rect y="0.919922" width="21" height="21" rx="3" fill="#FFFDF7"/>
<path d="M5.677 6.55304C4.40437 6.54852 3.17876 7.03366 2.254 7.90797H8.11212C10.2034 7.90797 11.1781 8.87616 11.4467 10.4673C12.1161 9.69297 12.8017 8.90022 13.7874 7.90141L17.6155 7.84629C17.1444 7.40707 16.5903 7.06642 15.9857 6.84434C15.3812 6.62225 14.7383 6.52321 14.0949 6.55304H5.677ZM18.0814 8.74929L15.6476 11.0829L18.2521 13.9442C18.7587 13.2774 19.0324 12.4628 19.0312 11.6254C19.0327 10.5894 18.6997 9.58051 18.0819 8.74885M11.4848 11.8617C11.3418 12.6486 10.9245 13.3594 10.307 13.8677C9.68954 14.3761 8.91187 14.6492 8.11212 14.6385H1.96875C2.43543 15.1595 3.00717 15.5757 3.64633 15.8597C4.28549 16.1438 4.97757 16.2893 5.677 16.2865H14.0954C14.7569 16.3064 15.4155 16.1914 16.031 15.9484C16.6466 15.7055 17.2063 15.3397 17.6759 14.8734L13.8132 14.8878L11.4848 11.8617ZM4.37369 10.5273L3.8605 12.1767L6.73444 12.1338C6.94736 12.0956 7.14577 11.9998 7.30818 11.8569C7.47059 11.714 7.5908 11.5294 7.65581 11.3231C7.674 11.2341 7.67365 11.1423 7.65477 11.0535C7.6359 10.9646 7.59891 10.8806 7.54611 10.8067C7.49331 10.7328 7.42583 10.6706 7.34791 10.624C7.26998 10.5773 7.18327 10.5472 7.09319 10.5356L4.37369 10.5273Z" fill="#3E3A4B"/>
<path d="M18.0814 8.74929L15.6476 11.0829L18.2521 13.9442C18.7587 13.2774 19.0324 12.4628 19.0312 11.6254C19.0327 10.5894 18.6997 9.58051 18.0819 8.74885M5.677 6.55304C4.40437 6.54852 3.17876 7.03366 2.254 7.90797H8.11212C10.2034 7.90797 11.1781 8.87616 11.4467 10.4673C12.1161 9.69297 12.8017 8.90022 13.7874 7.90141L17.6155 7.84629C17.1444 7.40707 16.5903 7.06642 15.9857 6.84434C15.3812 6.62225 14.7383 6.52321 14.0949 6.55304H5.677ZM11.4848 11.8617C11.3418 12.6486 10.9245 13.3594 10.307 13.8677C9.68954 14.3761 8.91187 14.6492 8.11212 14.6385H1.96875C2.43543 15.1595 3.00717 15.5757 3.64633 15.8597C4.28549 16.1438 4.97757 16.2893 5.677 16.2865H14.0954C14.7569 16.3064 15.4155 16.1914 16.031 15.9484C16.6466 15.7055 17.2063 15.3397 17.6759 14.8734L13.8132 14.8878L11.4848 11.8617ZM4.37369 10.5273L3.8605 12.1767L6.73444 12.1338C6.94736 12.0956 7.14577 11.9998 7.30818 11.8569C7.47059 11.714 7.5908 11.5294 7.65581 11.3231C7.674 11.2341 7.67365 11.1423 7.65477 11.0535C7.6359 10.9646 7.59891 10.8806 7.54611 10.8067C7.49331 10.7328 7.42583 10.6706 7.34791 10.624C7.26998 10.5773 7.18327 10.5472 7.09319 10.5356L4.37369 10.5273Z" stroke="#3E3A4B" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>


<!-- Mobilepay -->
<svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<rect y="0.919922" width="21" height="21" rx="3" fill="#FFFDF7"/>
<path d="M13.815 12.589L14.8031 14.6514C14.8483 14.7456 14.8727 14.8471 14.8748 14.9499C14.877 15.0527 14.8569 15.1549 14.8157 15.2506C14.7744 15.3464 14.7129 15.4338 14.6346 15.5079C14.5563 15.582 14.4627 15.6413 14.3592 15.6824L9.8374 17.4796C9.62845 17.5626 9.39185 17.5667 9.17963 17.4909C8.9674 17.415 8.79692 17.2656 8.70567 17.0753L4.44668 8.1885C4.35554 7.99817 4.35114 7.78267 4.43446 7.58938C4.51777 7.3961 4.68197 7.24086 4.89094 7.15782L9.41241 5.36032C9.51591 5.31917 9.6273 5.297 9.74022 5.29506C9.85313 5.29312 9.96536 5.31147 10.0705 5.34904C10.1756 5.38661 10.2716 5.44268 10.3529 5.51403C10.4343 5.58539 10.4994 5.67064 10.5445 5.76492L11.6279 8.02561" fill="#3E3A4B"/>
<path d="M13.815 12.589L14.8031 14.6514C14.8483 14.7456 14.8727 14.8471 14.8748 14.9499C14.877 15.0527 14.8569 15.1549 14.8157 15.2506C14.7744 15.3464 14.7129 15.4338 14.6346 15.5079C14.5563 15.582 14.4627 15.6413 14.3592 15.6824L9.8374 17.4796C9.62845 17.5626 9.39185 17.5667 9.17963 17.4909C8.9674 17.415 8.79692 17.2656 8.70567 17.0753L4.44668 8.1885C4.35554 7.99817 4.35114 7.78267 4.43446 7.58938C4.51777 7.3961 4.68197 7.24086 4.89094 7.15782L9.41241 5.36032C9.51591 5.31917 9.6273 5.297 9.74022 5.29506C9.85313 5.29312 9.96536 5.31147 10.0705 5.34904C10.1756 5.38661 10.2716 5.44268 10.3529 5.51403C10.4343 5.58539 10.4994 5.67064 10.5445 5.76492L11.6279 8.02561" stroke="#FFFDF7" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.75 9.50051L10.2905 13.1699C11.2933 12.6906 12.3915 12.4373 13.5056 12.4283C14.5902 12.4279 15.6594 12.6821 16.625 13.1699V9.50051C16.2365 9.25847 15.8053 9.09075 15.354 9.00611L14.5646 7.0478C13.4857 7.01759 12.4135 7.22548 11.4263 7.65633C9.19309 8.62582 8.75 9.50051 8.75 9.50051Z" fill="#3E3A4B" stroke="#FFFDF7" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

           
        </li>
    </ul>
</section>
</footer>


  