---
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
---

<header x-data="{ scrolled: false, showmenu: false }" x-init="window.addEventListener('scroll', () => { scrolled = window.scrollY > 500 })" :class="scrolled ? 'bg-colors-beige-500' : 'bg-transparent'" class="fixed top-0 w-full z-50 transition-colors duration-300">
  <div id="navbar" class="flex flex-row items-center justify-between md:px-s md:py-s">
    <!-- Logo -->
    <div>
      <a href="/"><Image src={logo} alt="logo" class="w-3/5 md:w-4/5" /></a>
    </div>

    <!-- Desktop Menu -->
    <nav id="desktopmenu" class="hidden lg:flex flex-1 justify-end">
      <ul class="flex flex-row gap-lg text-header3mobile items-center">
        <li>OPHOLD</li>
        <li>INFOMØDER</li>
        <li>OM OS</li>
        <!-- Registrer knap desktop -->
        <div class="hidden lg:flex items-center">
          <a href="#"><Button variant="primary" , size="small" class="">Tilmeld</Button></a>
        </div>
      </ul>
    </nav>

    <!-- Hamburger Menu Button -->
    <button id="burgermenu" class="lg:hidden w-1/12" x-on:click="showmenu = !showmenu">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 text-colors-orange-500">
        <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <nav id="mobilmenu" class="lg:hidden sticky top-18 left-0 w-full h-screen z-50 pb-20 bg-colors-beige-500 drop-shadow-lg text-colors-orange-500 flex flex-col pt-ml" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click="showmenu = false">
    <ul class="flex flex-col items-center gap-xs">
      <li>OPHOLD</li>
      <li>INFOMØDER</li>
      <li>OM OS</li>
      <!-- Register Button in Mobile Menu -->
      <li class="mt-xs">
        <!-- <a href="/registrer">Registrer</a> -->
         <Button variant="primary" size="small" class="">TILMELD</Button>
      </li>
    </ul>
  </nav>
</header>
